.env
**/.DS_Store
**/*.pyc
**/config.ini
**/node_modules/**
**/CLAUDE.md
dist/**
docs/_build
build/**
Elodie-win32-x64/**
virtual_elodie_27/**
**/*.arw
**/*.dng
**/*.nef
**/*.rw2
env/**
.venv/**
.coverage
.coverage.xml
coverage.xml
